@import "tailwindcss";

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(16deg);
  }

  20% {
    transform: rotate(-6deg);
  }

  30% {
    transform: rotate(16deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(16deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes shinetxt {
  0% {
    background-position: -500%;
  }

  10% {
    background-position: -50%;
  }

  30%,
  60% {
    background-position: -25%;
  }

  85% {
    background-position: 0%;
  }

  100% {
    background-position: 500%;
  }
}

.nav__img {
  animation: wave 2.1s 0.6s infinite;
  transform-origin: 75% 75%;
  display: inline-block;
}

.home__subtitle {
  background: linear-gradient(
    90deg,
    #90ee90,
    rgb(68, 145, 184),
    rgb(21, 49, 151)
  );
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shinetxt 5s infinite;
  animation-delay: 1.5s;
  background-position: -500%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
